@import "tailwindcss";

.bg-global {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(226, 226, 226, 0.91);
  z-index: -10;
}
html {
  font-family: "Quicksand";
}

/* Hero Section */

.logo-heading {
  font-family: "DotGothic16", sans-serif;
}

.text-bg-type {
  background-color: rgba(12, 124, 235, 0.882);
}
.sub-hightlight:hover {
  color: #0361a4;
  cursor: pointer;
}
.custom-h1 {
  font-family: "Anta", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.title-h1{
  font-family:"Doto";
}

.pp-icons:hover {
  stroke-width: #0361a4;
}
/* Responsive Code  */
/* Hero Section */
@media screen and (max-width: 480px) {
  .hero-sec {
    display: flex;
  }
  .pp-img {
    display: inline-block;
  }
  .pp-img img {
    height: 210px;
    border-radius: 20px;
  }
}

/* animation */
.fade-left {
  animation: fadeLeft 1.5s;
  animation-range: view(20% 50%);
}

.fade-right {
  animation: fadeRight 1.5s;
  animation-range: view(20% 50%);
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
