@import "tailwindcss";

* {
  color: #37373762;
  color: #1e1e1e;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

#page-loader {
  position: fixed;
  inset: 0;
  background: #0f0f0f;
  color: white;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}
